@import "tailwindcss";

@theme {
  --color-neon-green: #39ff14;
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-dark-bg: #0f0f1a;
  --color-dark-surface: #1a1a2e;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}